/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

a {
  color: $secondary-color;
}

/* breathing room */

.l-mb { margin-bottom: 1em; }
.l-mb2 { margin-bottom: 2em; }
.l-mb3 { margin-bottom: 3em; }
