<h3>Download Posters</h3>

<div class="row">
  <div class="columns small-6">
    <h4>English</h4>
    <a href="https://www.dropbox.com/s/vnq72yr6lzp39ks/DF-Poster2014-English-web.pdf" target="_blank" title="Deep Freeze 2014 English Poster (5.5MB)"><img src="{{ site.uploads }}DF-Poster2014eng-web.jpg" alt=""></a>
  </div>
  <div class="columns small-6">
    <h4>French</h4>
    <a href="https://www.dropbox.com/s/e5qxfsn9a6zkcfo/DF-Poster2014-French-web.pdf" target="_blank" title="Deep Freeze 2014 French Poster (5.5MB)"><img src="{{ site.uploads }}DF-Poster2014fr-web.jpg" alt=""></a>
  </div>
</div>
