<h3>Posters</h3>

<div class="row">
  <div class="columns small-6">
    <a href="https://www.dropbox.com/s/wxyd7upp6t9k3bm/DF-Posters-2015-English-web.pdf?dl=1" target="_blank" title="Deep Freeze 2015 English Poster (4.6MB)">
      <img src="{{ site.uploads }}DF-Posters-2015-English-Thumb.jpg" alt="">
      <h4>English</h4>
    </a>
  </div>
  <div class="columns small-6">
    <a href="https://www.dropbox.com/s/ebok2sm8csfs3s3/DF-Posters-2015-French-web.p df?dl=1" target="_blank" title="Deep Freeze 2015 French Poster (4.6MB)">
      <img src="{{ site.uploads }}DF-Posters-2015-French-Thumb.jpg" alt="">
      <h4>French</h4>
    </a>
  </div>
</div>
