h1, .alpha {
	color: $magenta;
	font-size: $beta;
	// font-family: $alt-font-family;
	font-weight: 700;
  @media #{$small} {
    font-size: $alpha;
  }
}

h2, .beta {
	color: $secondary-color;
	font-size: $gamma;
  font-weight: normal;
  @media #{$small} {
    font-size: $beta;
  }
}

h3, .gamma {
	color: $magenta;
	font-size: $delta;
  font-weight: normal;
  @media #{$small} {
    font-size: $gamma;
  }
}

h4, .delta {
	// color: $secondary-color;
	font-size: $epsilon;
  font-weight: normal;
  @media #{$small} {
    font-size: $delta;
  }
}

h5, .epsilon {
	// color: $secondary-color;
	font-size: $zeta;
  font-weight: normal;
  @media #{$small} {
    font-size: $epsilon;
  }
}

h6, .zeta {
	// color: $secondary-color;
	font-size: $zeta;
  font-weight: normal;
}


h1,h2,h3,h4,h5,h6 {
  > small {
    display: block;
    line-height: 1.2;
    color: $secondary-color;
    font-size: 60%;
  }
}
