.timetable {
	width: 100%;
  margin-bottom: 10px;

  tbody > tr > th {
    text-align: left;
  }

  tr > td {
    color: #000;
  }
  // tr:nth-child(2n) > td {
  //   color: $purple-light;
  // }

  td > small {
    display: block;
    font-size: 80%;
  }

  td {
    line-height: 1.3;
    &:first-child {
      width: 100px;
      vertical-align: top;
      @media #{$small} {
        width: 160px;
      }
    }
  }

  @media #{$small} {
    margin-bottom: 30px;
  }

  ul {
    margin: 0.5em 0 1em 2em;
    li {
      line-height: 1.2;
    }
  }
}

.timetable-hour {
  width: 90px;
}
