.venuelist {
  color: $orange;
  margin-left: $column-gutter;
  font-size: emCalc(16px);
  > li {
    margin-bottom: 0.5em;
    > span {
      color: $body-font-color;
    }
    small {
      font-size: emCalc(12px);
      font-style: italic;
    }
  }
}
// .venuelist {
// 	background: $primary-color;
// 	color: #fff;
//   text-align: center;
//   display: block;
//   float: left;
//   margin-right: 0.5em;
//   line-height: $beta;
//   width: $beta;
//   height: $beta;
// 	@media #{$small} {
// 		width: $alpha;
//     height: $alpha;
//     line-height: $alpha;
// 	}
// }
