---
layout: base
---

<div class="row">
  <div class="columns large-8">
    {{ content }}
  </div>
  <div class="large-4 columns">
    {% capture global_side %}{% include side_global.md %}{% endcapture %}
    {{ global_side | markdownify }}

    {% capture key %}{{ page.path | downcase }}{% endcapture %}
    {% case key %}
      {% when 'about.md' %}
        {% capture sidebar %}{% include side_about.md %}{% endcapture %}
      {% when 'donate.md' %}
        {% capture sidebar %}{% include side_donate.md %}{% endcapture %}
        {{ sidebar | markdownify }}
      {% when 'greetings.md' %}
        {% capture sidebar %}{% include side_greetings.md %}{% endcapture %}
        {{ sidebar | markdownify }}
      {% when 'volunteer.md' %}
        {% capture sidebar %}{% include side_volunteer.md %}{% endcapture %}
        {{ sidebar | markdownify }}
      {% when 'media.md' %}
        {% capture sidebar %}{% include side_media.md %}{% endcapture %}
        {{ sidebar | markdownify }}
      {% when 'whats-on.md' %}
        {% capture sidebar %}{% include side_whats_on.md %}{% endcapture %}
        {{ sidebar | markdownify }}
      {% when 'faq.md' %}
        {% capture sidebar %}{% include side_faq.md %}{% endcapture %}
        {{ sidebar | markdownify }}
      {% when 'news.md' %}
        {% capture sidebar %}{% include side_news.md %}{% endcapture %}
        {{ sidebar | markdownify }}
      {% when 'outdoor-fun.md' %}
        {% capture sidebar %}{% include side_outdoor_fun.md %}{% endcapture %}
        {{ sidebar | markdownify }}
      {% when 'street-hockey.md' %}
        {% capture sidebar %}{% include side_street_hockey.md %}{% endcapture %}
        {{ sidebar | markdownify }}
      {% when 'freezer-race.md' %}
        {% capture sidebar %}{% include side_freezer_race.md %}{% endcapture %}
        {{ sidebar | markdownify }}
      {% when 'mummers.md' %}
        {% capture sidebar %}{% include side_mummers.md %}{% endcapture %}
        {{ sidebar | markdownify }}
      {% when 'participate.md' %}
        {% capture sidebar %}{% include side_participate.md %}{% endcapture %}
        {{ sidebar | markdownify }}
    {% endcase %}
  </div>
</div>
