---
layout: base
---

<div class="row">
  <div class="column large-8">
    {% if page.headline %}<h1>{{ page.headline }}</h1>{% endif %}
    {% if page.lead %}<p>{{ page.lead }}</p>{% endif %}
    <div id="map" class="map"></div>
  </div>
  <div class="columns large-4">
    <h2>Venues</h2>

    <ol class="venuelist">
      <li><span>The Carrot Community Arts Coffeehouse <small>(Coffee &amp; Music)</small></span></li>
      <li><span>Nina Haggerty Centre for the Arts <small>(Workshops &amp; Gallery)</small></span></li>
      <li><span>The Anglican Parishes of St. Faith’s and St. Stephen the Martyr <small>(Artisan Market &amp; Performances)</small></span></li>
      <li><span>Avenue Theatre <small>(Dance, Music performances and Theatre)</small></span></li>
      <li><span>On the Street <small>(Street Hockey &amp; Activities)</small></span></li>
      <li><span>Alberta Avenue Community Centre <small>(Eatery &amp; Performance Stage)</small></span></li>
      <li><span>Alberta Avenue Park <small>(Toboggan, Deep Freezer Races &amp; more)</small></span></li>
      <li><span>Tom Fool’s Ice &amp; Snow Kingdom <small>(Outdoor Family Fun!)</small></span></li>
      <li><span>Ice Promenade</span></li>
      <li><span>Thaw Hut Competition</span></li>
      <li><span>Bedouin Beats Workshops</span></li>
      <li><span>Pipon Village &amp; Odin's Ravens Viking Village</span></li>
      <li><span>The Studio Galleries &amp; Art Markets</span></li>
    </ol>

    {% comment %}<p>Galleries &amp; Art Markets</p>{% endcomment %}

    <p>Please check program for schedule times</p>

  </div>
</div>

<div class="row">
  <div class="columns large-8">
    {{ content }}
  </div>
  <div class="columns large-4">
    {% include map.html %}
  </div>
</div>


<script>
  // initialize the map on the "map" div
  var opts = {
    scrollWheelZoom: false,
    center: [-37.30027528134431, -72.24609375],
    zoom: 2,
    zoomControl: !Modernizr.touch,
    fullscreenControl: true,
    attributionControl: false
  };

  var map = L.map('map', opts);
  map.on('click', function(e) {
    console.log(map.getCenter());
  })

  // festival map image TMS layer
  // https://www.dropbox.com/sh/05tpqj42s2olgz7/LMgd3Urn9t/5/0/20.png
  L.tileLayer('/maptiles/{z}/{x}/{y}.png', {
      maxZoom: 5,
      minZoom: 1,
      tms: true
  }).addTo(map);

</script>
